@import 'rupture/*'
@import 'helper/*'
@import 'fonts/*'

// setup html root font-size for rem units
html
	font-size 10px

//global styles
a
	tr(.3s)

img
	vertical-align top

@import 'blocks/*'


//z-index
//.fixed-header 1100
//.sticky-wrapper 1000 via js
