.content-box
	margin 0 auto
	max-width 630px
	text-transform uppercase
	text-align center
	overflow hidden
	
	&__container
		
		> h2
			margin-bottom 23px
			font-family font-4
			font-size 10rem
			line-height 1.13em
			letter-spacing 0.07em
			
			+below(tablet)
				margin-bottom 15px
				font-size 3.5rem
			
		> h3
			font-family font-1
			font-size 2.2rem
			line-height 1.2em
			letter-spacing 0.02em
			
			+below(tablet)
				font-size 2rem
			
		> p
			margin-bottom 10px
			font-family font-2
			font-size 1.4rem
			line-height 1.4em
			
			+below(tablet)
				font-size 1rem
				line-height 1.2em
			
		> hr
			height 4px
			width 86px
			margin 30px auto 25px
			background main
			
			+below(tablet)
				height 1px
				width 32px
				margin 15px auto