.gallery
	clearfix()
	margin-left -4px
	margin-right -4px
	
	&__col-sizer
		width 25%
		
		+below(600px)
			width 50%
	
	&__col
		float left
		width 25%
		padding 4px
		
		+below(600px)
			width 50%

		&_opened
			width 50%
			
			+below(600px)
				width 100%

	img
		width 100%
		