.portfolio
	width 100%
	overflow hidden
	background light
	
	&__grid
		margin 0 -5px
		font-size 0
		
		.portfolio__col
			display inline-block
			width 25%
			padding 5px
		
	&__grid-2
		font-size 0
		
		.portfolio__col
			display inline-block
			width 50%
			
	&__grid-3
		font-size 0
		
		.portfolio__col
			display inline-block
			width 25%
			padding 5px
			
	&__grid-4
		font-size 0
		
		.portfolio__col
			display inline-block
			width 25%