.portfolio
	padding 15px 0
	width 100%
	overflow hidden
	background light
	perspective 1300px
	
	.portfolio__col
		opacity 0
		// transition: all .4s ease-in-out;
		// transform rotateX(-12deg) scale(1.1) translateY(120px)
		
	.portfolio__col_visible
		// opacity 1
		// transform scale(1) rotateX(0)
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
		transform: translateZ(400px) translateY(300px) rotateX(-90deg);
		-webkit-animation: fallPerspective .6s ease-in-out forwards;
		animation: fallPerspective .6s ease-in-out forwards;
		
		&:nth-child(2n)
			-webkit-animation: fallPerspective .8s ease-in-out forwards;
			animation: fallPerspective .8s ease-in-out forwards;
			
		&:nth-child(3n)
			-webkit-animation: fallPerspective 1s ease-in-out forwards;
			animation: fallPerspective 1s ease-in-out forwards;
		
		&:nth-child(4n)
			-webkit-animation: fallPerspective 1.2s ease-in-out forwards;
			animation: fallPerspective 1.2s ease-in-out forwards;
	
	&__grid
		font-size 0
		
		.portfolio__col
			display inline-block
			width 25%
			
			+below(tablet)
				width 50%
		
	&__grid-2
		font-size 0
		
		.portfolio__col
			display inline-block
			width 50%
			
			+below(tablet)
				width 100%
			
	&__grid-3
		clearfix()
		
		.portfolio__col
			z-index 1
			position relative
			float left
			
			&_1
				width 50%
				
				+below(tablet)
					width 100%
					
			&_1-half
				width 50%
		
			&_2
				width 25%
				
				+below(tablet)
					width 50%
			
			&_3
				width 100%
			
	&__grid-icon
		z-index 20
		position absolute
		display block
		height 30px
		width 30px
		background transparent url(images/plus.svg) 0 0 no-repeat
		
		+below(tablet)
			display none
		
		&_t-l
			top -15px
			left -15px
		&_t-r
			top -15px
			right -15px
			
		&_t-c
			top -15px
			left 0
			right 0
			margin 0 auto
			
		&_b-l
			bottom -15px
			left -15px
			
		&_b-r
			bottom -15px
			right -15px
			
		&_c-l
			left -15px
			top 0
			bottom 0
			margin auto 0
			
@-webkit-keyframes fallPerspective {
	0% { }
	100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

@keyframes fallPerspective {
	0% { }
	100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}