.project-list
	clearfix()
	
	> li
		float left
		width 25%
		border-right 1px solid main
		border-bottom 1px solid main
		
		&:nth-child(4n+4)
			border-right 1px solid transparent
			
		&:nth-last-child(-n+4)
			border-bottom 0
			
		+below(600px)
			width 50%
			
			&:nth-child(4n+4)
				border-right 1px solid main
				
			&:nth-last-child(-n+4)
				border-bottom 1px solid main
			
			&:nth-child(2n+2)
				border-right 1px solid transparent
				
			&:nth-last-child(-n+2)
				border-bottom 0

		> a
			display block
			
			&:hover,
			&:focus
				opacity .5
			
			> img
				width 100%