.project-subheader
	padding 0 100px
	background rgba(255, 255, 255, .9)
	
	+below(1100px)
		padding 0 15px
		
	&__inner
		display table
		width 100%
		table-layout fixed
		
	&__title-wrap
		display table-cell
		width 23%
		
	&__menu-wrap
		display table-cell
		width 54%
		text-align right
		
	&__empty-col
		display table-cell
		width 23%
		
	&__title
		font-family font-4
		font-size 4rem
		line-height 2em
		letter-spacing 0.04em
		text-transform uppercase
