.project-page
	z-index 1
	position relative
	padding 160px 0 10px
	
	+below(large)
		padding 10px 15px
		
	&__link
		z-index 100
		position fixed
		top 50vh
		display inline-block
		transform-origin center
		
		+below(large)
			display none
		
		&_prev
			left -20px
			transform rotate(-90deg)
		&_next
			right -10px
			transform rotate(90deg)
		a
			color main
			font-family font-1
			font-size 1.8rem
			line-height 1.2em
			letter-spacing 0.06em
			
			&:hover,
			&:focus
				text-decoration none