.project-menu 
	display inline-block
	
	+below(tablet)
		display none

	> li 
		float left
		margin-right 20px

		&:last-child 
			margin-right 0

		> a 
			display block
			color main
			font-family font-1
			font-size 1.8rem
			line-height 1.2em
			letter-spacing 0.06em
			text-transform uppercase
			text-decoration none
			border-bottom 2px solid transparent
			white-space nowrap
		
			&:hover,
			&:focus 
				border-bottom 1px solid main
			