.vibe
	
	+below(600px)
		padding 0 15px
	
	&__intro
		padding-top 100px
		padding-bottom 20px
		
		+below(600px)
			padding-top 70px
			padding-bottom 10px
	
	&__title
		font-family font-4
		font-size 10rem
		line-height 1.1em
		text-align center
		
		+below(600px)
			font-size 5rem
	
	&__body
		width 100%
		overflow hidden