* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-focus-ring-color: rgba(255,255,255,0);
  cursor: default;
}
body {
  font-size: 100%;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a {
  background: transparent;
}
*:focus,
*:active,
*:hover {
  outline: none;
}
hr {
  box-sizing: content-box;
  height: 0;
}
ol,
ul {
  list-style: none;
}
pre {
  tab-size: 4;
  white-space: pre-wrap;
}
q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}
img {
  border: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button {
  overflow: visible;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
button,
input,
select[multiple],
textarea {
  background-image: none;
}
input,
select,
textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
}
input,
textarea {
  resize: none;
  user-select: text;
}
[placeholder]:focus::placeholder {
  color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'bebasneue-bold';
  src: url("fonts/bebasneue/bebasneue-bold-webfont.woff") format('woff');
  src: url("fonts/bebasneue/bebasneue-bold-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museosans-500';
  src: url("fonts/museosans/museosans-500.woff") format('woff');
  src: url("fonts/museosans/museosans-500.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museosans-700';
  src: url("fonts/museosans/museosans-700.woff") format('woff');
  src: url("fonts/museosans/museosans-700.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museosans-900';
  src: url("fonts/museosans/museosans-900.woff") format('woff');
  src: url("fonts/museosans/museosans-900.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'quicksand-light';
  src: url("fonts/quicksand/quicksand-light-webfont.woff") format('woff');
  src: url("fonts/quicksand/quicksand-light-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'quicksand-regular';
  src: url("fonts/quicksand/quicksand-regular-webfont.woff") format('woff');
  src: url("fonts/quicksand/quicksand-regular-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'agaramond-regular';
  src: url("fonts/agaramond/agaramondpro-regular.otf");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
}
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
img {
  vertical-align: top;
}
.body {
  position: relative;
  color: #000;
  font-size: 1.4rem;
  background: #fff;
}
.content-box {
  margin: 0 auto;
  max-width: 630px;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
}
.content-box__container > h2 {
  margin-bottom: 23px;
  font-family: 'museosans-900', Arial, sans-serif;
  font-size: 10rem;
  line-height: 1.13em;
  letter-spacing: 0.07em;
}
.content-box__container > h3 {
  font-family: 'bebasneue-bold', Arial, sans-serif;
  font-size: 2.2rem;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}
.content-box__container > p {
  margin-bottom: 10px;
  font-family: 'quicksand-regular', Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4em;
}
.content-box__container > hr {
  height: 4px;
  width: 86px;
  margin: 30px auto 25px;
  background: #000;
}
.content-items {
  padding-top: 25px;
}
.content-items:after {
  display: table;
  clear: both;
  content: '';
}
.content-items__col {
  float: left;
  width: 33.33%;
}
.content-items__col > img {
  max-width: 130px;
  margin: 0 auto 10px;
}
.content-items__col > p {
  padding: 0 10px;
  font-family: 'quicksand-regular', Arial, sans-serif;
  font-size: 1.1rem;
  line-height: 1.5em;
  letter-spacing: 0.12em;
}
.content-items__count {
  display: block;
  margin-bottom: 23px;
  font-family: 'museosans-900', Arial, sans-serif;
  font-size: 9rem;
  line-height: 1.15em;
}
.content__row {
  background: #fff;
  padding: 40px 0;
}
.fixed-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.footer-contacts {
  display: table;
  width: 100%;
  table-layout: fixed;
}
@media only screen and (max-width: 480px) {
  .footer-contacts {
    display: block;
  }
}
.footer-contacts__col {
  display: table-cell;
  width: 50%;
  padding-right: 40px;
}
@media only screen and (max-width: 600px) {
  .footer-contacts__col {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-contacts__col {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .footer-contacts__col:last-child {
    margin: 0;
  }
}
.footer-contacts p {
  margin-bottom: 38px;
  font-family: 'quicksand-light', Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.33em;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .footer-contacts p {
    margin-bottom: 12px;
  }
}
.footer-contacts p:last-child {
  margin-bottom: 0;
}
.footer-contacts p a {
  color: inherit;
  text-decoration: none;
}
.footer-contacts p a:hover,
.footer-contacts p a:focus {
  text-decoration: underline;
}
.footer-contacts__social {
  padding-top: 95px;
}
@media only screen and (max-width: 600px) {
  .footer-contacts__social {
    padding-top: 45px;
  }
}
@media only screen and (max-width: 480px) {
  .footer-contacts__social {
    padding: 0;
  }
}
.footer-form {
  display: table;
  width: 100%;
  table-layout: fixed;
}
@media only screen and (max-width: 600px) {
  .footer-form {
    display: block;
  }
}
.footer-form__input-col {
  display: table-cell;
  width: 62%;
}
@media only screen and (max-width: 600px) {
  .footer-form__input-col {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
}
.footer-form__submit-col {
  display: table-cell;
  width: 38%;
  padding-left: 10px;
  vertical-align: bottom;
}
@media only screen and (max-width: 600px) {
  .footer-form__submit-col {
    display: block;
    padding-left: 0;
    width: 110px;
  }
}
.footer-form__input-grp {
  margin-bottom: 16px;
}
.footer-form__input-grp:last-child {
  margin-bottom: 0;
}
.footer-form__input {
  width: 100%;
  padding: 6px 0;
  color: #fff;
  font-family: 'quicksand-regular', Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.33em;
  text-transform: uppercase;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #bebdbd;
}
.footer-form__input:focus {
  border-bottom: 1px solid #fff;
}
.footer-form__submit {
  width: 100%;
  padding: 6px 12px;
  font-family: 'quicksand-regular', Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.33em;
  text-transform: uppercase;
  background: #bebdbd;
  border: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 1100px) {
  .footer-form__submit {
    background: #fff;
  }
  .footer-form__submit:hover,
  .footer-form__submit:focus {
    background: #bebdbd;
  }
}
.footer-form__submit:hover,
.footer-form__submit:focus {
  background: #fff;
}
.footer-form__submit_alt {
  background: #fff;
}
.footer-form__submit_alt:hover,
.footer-form__submit_alt:focus {
  background: #bebdbd;
}
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px 54px 40px;
  color: #fff;
  background: #000;
}
.footer:after {
  display: table;
  clear: both;
  content: '';
}
@media only screen and (max-width: 1100px) {
  .footer {
    padding: 40px 30px;
  }
}
.footer__col {
  padding-top: 5px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 1100px) {
  .footer__col {
    padding: 0;
  }
}
.footer__contact-wrap {
  float: left;
  width: 28%;
  padding-right: 45px;
}
@media only screen and (max-width: 1100px) {
  .footer__contact-wrap {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .footer__contact-wrap {
    width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }
}
.footer__work-form-wrap {
  float: right;
  width: 28%;
  padding-left: 10px;
  border-left: 1px solid #bebdbd;
}
@media only screen and (max-width: 1100px) {
  .footer__work-form-wrap {
    width: 50%;
    margin-bottom: 40px;
    padding-left: 0;
    border-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .footer__work-form-wrap {
    width: 100%;
  }
}
.footer__contacts-wrap {
  float: left;
  width: 44%;
}
@media only screen and (max-width: 1100px) {
  .footer__contacts-wrap {
    width: 100%;
  }
}
.footer__work-form {
  padding-top: 90px;
}
@media only screen and (max-width: 600px) {
  .footer__work-form {
    padding-top: 0;
  }
}
.footer__title {
  margin-bottom: 15px;
  font-family: 'bebasneue-bold', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .footer__title {
    margin-bottom: 20px;
  }
}
.gallery-slider-controls {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px 15px;
  color: #fff;
  font-size: 1.8rem;
  font-family: 'bebasneue-bold', Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1.2em;
  background: #000;
}
.gallery-slider-controls__inner {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.gallery-slider-controls__col {
  display: table-cell;
  vertical-align: middle;
}
.gallery-slider-controls__col_btn-wrap {
  width: 40px;
}
.gallery-slider-controls__col_count-wrap {
  padding: 0 15px;
  width: 80px;
}
.gallery-slider-controls__col_caption-wrap {
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gallery-slider-controls .slider-btn {
  display: inline-block;
  vertical-align: top;
}
.gallery-slider-controls .slider-btn:first-child {
  margin-right: 12px;
}
.gallery-slider-controls .slider-btn a {
  display: block;
  height: 19px;
  width: 11px;
}
.gallery-slider-controls .slider-btn .bx-prev {
  background: transparent url("images/icon-slide-prev.png") 0 0 no-repeat;
  background-size: cover;
}
.gallery-slider-controls .slider-btn .bx-next {
  background: transparent url("images/icon-slide-next.png") 0 0 no-repeat;
  background-size: cover;
}
.gallery-slider-controls .slider-btn .bx-prev:hover,
.gallery-slider-controls .slider-btn .bx-next:hover,
.gallery-slider-controls .slider-btn .bx-prev:focus,
.gallery-slider-controls .slider-btn .bx-next:focus {
  opacity: 0.5;
}
.gallery {
  margin-left: -4px;
  margin-right: -4px;
}
.gallery:after {
  display: table;
  clear: both;
  content: '';
}
.gallery__col-sizer {
  width: 25%;
}
@media only screen and (max-width: 600px) {
  .gallery__col-sizer {
    width: 50%;
  }
}
.gallery__col {
  float: left;
  width: 25%;
  padding: 4px;
}
@media only screen and (max-width: 600px) {
  .gallery__col {
    width: 50%;
  }
}
.gallery__col_opened {
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .gallery__col_opened {
    width: 100%;
  }
}
.gallery__item {
  position: relative;
  overflow: hidden;
}
.gallery__overlay {
  cursor: pointer;
}
.gallery img {
  width: 100%;
}
.gallery__slide-wrap {
  position: relative;
  display: none;
}
.gallery__slide-wrap .bx-wrapper {
  margin: 0;
  border: 0;
  box-shadow: 0;
}
.google-map {
  height: 400px;
}
.header {
  max-height: 100vh;
  overflow-y: auto;
  padding: 20px 57px 14px;
  background: #181515;
}
.header:after {
  display: table;
  clear: both;
  content: '';
}
@media only screen and (max-width: 900px) {
  .header {
    padding: 20px 15px 14px;
  }
}
.header__logo {
  float: left;
  width: 50%;
}
@media only screen and (max-width: 800px) {
  .header__logo {
    width: 90%;
    padding-top: 1px;
  }
}
@media only screen and (max-width: 480px) {
  .header__logo {
    padding-top: 3px;
  }
}
.header__nav-btn {
  float: right;
  display: none;
  text-align: right;
}
@media only screen and (max-width: 800px) {
  .header__nav-btn {
    display: block;
    width: 10%;
  }
}
.header__nav {
  display: block;
  float: right;
  width: 50%;
  text-align: right;
}
@media only screen and (max-width: 800px) {
  .header__nav {
    display: none;
    float: none;
    width: 100%;
    text-align: left;
    clear: both;
  }
}
.intro {
  height: 100vh;
}
.intro__video-wrap {
  position: relative;
}
.intro__video-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.intro__video-bg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro__video {
  position: relative;
  z-index: 100;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.intro__video_show {
  opacity: 1;
}
.logo__link {
  display: inline-block;
}
.logo__link:hover,
.logo__link:focus {
  opacity: 0.8;
}
.logo__img {
  height: 15px;
  width: auto;
}
@media only screen and (max-width: 800px) {
  .logo__img {
    height: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .logo__img {
    height: 16px;
  }
}
.main-nav {
  display: inline-block;
}
.main-nav__menu:after {
  display: table;
  clear: both;
  content: '';
}
@media only screen and (max-width: 800px) {
  .main-nav__menu {
    padding-top: 10px;
  }
}
.main-nav__menu > li {
  float: left;
  margin-right: 25px;
}
@media only screen and (max-width: 800px) {
  .main-nav__menu > li {
    float: none;
    margin-right: 0;
  }
}
.main-nav__menu > li:last-child {
  margin-right: 0;
}
.main-nav__menu > li > a {
  display: inline-block;
  color: #fff;
  font-family: 'bebasneue-bold', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
}
@media only screen and (max-width: 800px) {
  .main-nav__menu > li > a {
    padding: 10px 0;
  }
}
.main-nav__menu > li > a:hover,
.main-nav__menu > li > a:focus {
  text-decoration: underline;
}
.main-wrapper {
  position: relative;
  min-height: 100vh;
}
.nav-btn {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 25px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.nav-btn span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 2px;
  width: 100%;
  background: #fff;
  transform: rotate(0deg);
  transition: all 0.25s ease-in-out;
}
.nav-btn span:nth-child(1) {
  top: 2px;
}
.nav-btn span:nth-child(2) {
  top: 9px;
}
.nav-btn span:nth-child(3) {
  top: 16px;
}
.nav-btn_opened span:nth-child(1) {
  top: 9px;
  transform: rotate(135deg);
}
.nav-btn_opened span:nth-child(2) {
  left: 25px;
  opacity: 0;
}
.nav-btn_opened span:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}
.parallax-box {
  display: table;
  width: 100%;
  height: 66vh;
  min-height: 180px;
  overflow: hidden;
  color: #252525;
}
.parallax-box__inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.parallax-box__btn {
  display: inline-block;
  padding: 16px 20px 15px;
  color: #252525;
  font-family: 'museosans-500', Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.1em;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #252525;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.parallax-box__btn:hover,
.parallax-box__btn:focus {
  color: #fff;
  background: #252525;
}
.parallax-box__btn_alt {
  color: #fff;
  border: 1px solid #fff;
}
.parallax-box__btn_alt:hover,
.parallax-box__btn_alt:focus {
  color: #252525;
  background: #fff;
}
.parallax-box h3 {
  margin-bottom: 24px;
  font-family: 'museosans-700', Arial, sans-serif;
  font-size: 4rem;
  line-height: 1.2em;
  text-transform: uppercase;
}
.parallax-box p {
  margin-bottom: 36px;
  font-family: 'museosans-500', Arial, sans-serif;
  font-size: 2rem;
  line-height: 1.2em;
}
.portfolio-item__link {
  position: relative;
  display: block;
}
.portfolio-item__img {
  width: 100%;
}
.portfolio-item__overlay {
  display: block;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.portfolio-item__overlay:hover {
  opacity: 0.8;
}
.portfolio-item__text-wrap {
  display: table;
  height: 100%;
  width: 100%;
}
.portfolio-item__text-wrap-inner {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.portfolio-item__text {
  display: inline-block;
  color: #000;
  font-family: 'bebasneue-bold', Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.2em;
  letter-spacing: 0.06em;
  border-bottom: 2px solid #000;
}
.portfolio-menu {
  padding: 16px 15px 15px;
  text-align: center;
}
.portfolio {
  padding: 15px 0;
  width: 100%;
  overflow: hidden;
  background: #fff;
}
.portfolio__grid {
  font-size: 0;
}
.portfolio__grid .portfolio__col {
  display: inline-block;
  width: 25%;
}
.portfolio__grid-2 {
  font-size: 0;
}
.portfolio__grid-2 .portfolio__col {
  display: inline-block;
  width: 50%;
}
.portfolio__grid-3:after {
  display: table;
  clear: both;
  content: '';
}
.portfolio__grid-3 .portfolio__col {
  z-index: 1;
  position: relative;
  float: left;
}
.portfolio__grid-3 .portfolio__col_1 {
  width: 50%;
}
.portfolio__grid-3 .portfolio__col_2 {
  width: 25%;
}
.portfolio__grid-3 .portfolio__col_3 {
  width: 100%;
}
.portfolio__grid-icon {
  z-index: 20;
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  background: transparent url("images/plus.svg") 0 0 no-repeat;
}
.portfolio__grid-icon_t-l {
  top: -15px;
  left: -15px;
}
.portfolio__grid-icon_t-r {
  top: -15px;
  right: -15px;
}
.portfolio__grid-icon_t-c {
  top: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.portfolio__grid-icon_b-l {
  bottom: -15px;
  left: -15px;
}
.portfolio__grid-icon_b-r {
  bottom: -15px;
  right: -15px;
}
.portfolio__grid-icon_c-l {
  left: -15px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.project-block {
  padding-bottom: 10px;
}
@media only screen and (max-width: 700px) {
  .project-block {
    padding: 0 15px 10px;
  }
}
.project-block img {
  width: 100%;
}
.project-block__row {
  max-width: 600px;
  margin: 0 auto;
}
.project-block__row:after {
  display: table;
  clear: both;
  content: '';
}
.project-block__col {
  float: left;
  width: 50%;
}
.project-block__col:first-child {
  padding-right: 5px;
}
.project-block__col:last-child {
  padding-left: 5px;
}
@media only screen and (max-width: 1100px) {
  .project-header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.project-intro__row:after {
  display: table;
  clear: both;
  content: '';
}
@media only screen and (max-width: 1100px) {
  .project-intro__row {
    max-width: 600px;
    margin: 0 auto;
  }
}
.project-intro__col-1 {
  float: left;
  width: 23%;
  padding-right: 20px;
}
@media only screen and (max-width: 1100px) {
  .project-intro__col-1 {
    width: 100%;
    padding-right: 0;
    padding-bottom: 15px;
  }
}
.project-intro__col-2 {
  float: left;
  width: 54%;
}
@media only screen and (max-width: 1100px) {
  .project-intro__col-2 {
    width: 100%;
  }
}
.project-intro p {
  margin-bottom: 40px;
  font-family: 'agaramond-regular', Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.4em;
}
@media only screen and (max-width: 1100px) {
  .project-intro p {
    margin-bottom: 15px;
  }
}
.project-intro p:last-child {
  margin-bottom: 0;
}
.project-intro img {
  width: 100%;
}
.project-list:after {
  display: table;
  clear: both;
  content: '';
}
.project-list > li {
  float: left;
  width: 25%;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.project-list > li:nth-child(4n+4) {
  border-right: 1px solid transparent;
}
.project-list > li:nth-last-child(-n+4) {
  border-bottom: 0;
}
@media only screen and (max-width: 600px) {
  .project-list > li {
    width: 50%;
  }
  .project-list > li:nth-child(4n+4) {
    border-right: 1px solid #000;
  }
  .project-list > li:nth-last-child(-n+4) {
    border-bottom: 1px solid #000;
  }
  .project-list > li:nth-child(2n+2) {
    border-right: 1px solid transparent;
  }
  .project-list > li:nth-last-child(-n+2) {
    border-bottom: 0;
  }
}
.project-list > li > a {
  display: block;
}
.project-list > li > a:hover,
.project-list > li > a:focus {
  opacity: 0.5;
}
.project-list > li > a > img {
  width: 100%;
}
.project-menu {
  display: inline-block;
}
.project-menu:after {
  display: table;
  clear: both;
  content: '';
}
.project-menu > li {
  float: left;
  margin-right: 20px;
}
.project-menu > li:last-child {
  margin-right: 0;
}
.project-menu > li > a {
  display: block;
  color: #000;
  font-family: 'bebasneue-bold', Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.2em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
}
.project-menu > li > a:hover,
.project-menu > li > a:focus {
  border-bottom: 1px solid #000;
}
.project-menu > li.active > a {
  border-bottom: 2px solid #000;
}
.project-page {
  z-index: 1;
  position: relative;
  padding: 0 100px 10px;
}
@media only screen and (max-width: 1100px) {
  .project-page {
    padding: 60px 15px 10px;
  }
}
.project-page__link {
  position: absolute;
  top: 50vh;
  display: inline-block;
  transform-origin: center;
}
@media only screen and (max-width: 1100px) {
  .project-page__link {
    display: none;
  }
}
.project-page__link_prev {
  left: -20px;
  transform: rotate(-90deg);
}
.project-page__link_next {
  right: -10px;
  transform: rotate(90deg);
}
.project-page__link a {
  color: #000;
  font-family: 'bebasneue-bold', Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.2em;
  letter-spacing: 0.06em;
}
.project-page__link a:hover,
.project-page__link a:focus {
  text-decoration: none;
}
.project-subheader {
  padding: 0 100px;
  background: rgba(255,255,255,0.9);
}
@media only screen and (max-width: 1100px) {
  .project-subheader {
    padding: 0 15px;
  }
}
.project-subheader__inner {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.project-subheader__title-wrap {
  display: table-cell;
  width: 23%;
}
.project-subheader__menu-wrap {
  display: table-cell;
  width: 54%;
  text-align: right;
}
.project-subheader__empty-col {
  display: table-cell;
  width: 23%;
}
.project-subheader__title {
  font-family: 'museosans-900', Arial, sans-serif;
  font-size: 4rem;
  line-height: 2em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.social-list *:after {
  content: '';
  display: table;
  clear: both;
}
.social-list > li {
  float: left;
  margin-right: 15px;
}
.social-list > li:last-child {
  margin-right: 0;
}
.social-list > li > a {
  display: block;
  height: 22px;
}
.social-list > li > a:hover,
.social-list > li > a:focus {
  opacity: 0.6;
}
.social-list > li > a > img {
  height: 100%;
  width: auto;
}
.vibe {
  padding: 0 15px;
}
.vibe__intro {
  padding-top: 116px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  .vibe__intro {
    padding-top: 70px;
    padding-bottom: 10px;
  }
}
.vibe__title {
  font-family: 'museosans-900', Arial, sans-serif;
  font-size: 10rem;
  line-height: 1.1em;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .vibe__title {
    font-size: 5rem;
  }
}
.vibe__body {
  width: 100%;
  padding-bottom: 10px;
  overflow: hidden;
}
/*# sourceMappingURL=src/stylus/style.css.map */