.portfolio {
  padding: 15px 0;
  width: 100%;
  overflow: hidden;
  background: light;
  perspective: 1300px;
}
.portfolio .portfolio__col {
  opacity: 0;
}
.portfolio .portfolio__col_visible {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
  transform: translateZ(400px) translateY(300px) rotateX(-90deg);
  -webkit-animation: fallPerspective 0.6s ease-in-out forwards;
  animation: fallPerspective 0.6s ease-in-out forwards;
}
.portfolio .portfolio__col_visible:nth-child(2n) {
  -webkit-animation: fallPerspective 0.8s ease-in-out forwards;
  animation: fallPerspective 0.8s ease-in-out forwards;
}
.portfolio .portfolio__col_visible:nth-child(3n) {
  -webkit-animation: fallPerspective 1s ease-in-out forwards;
  animation: fallPerspective 1s ease-in-out forwards;
}
.portfolio .portfolio__col_visible:nth-child(4n) {
  -webkit-animation: fallPerspective 1.2s ease-in-out forwards;
  animation: fallPerspective 1.2s ease-in-out forwards;
}
.portfolio__grid {
  font-size: 0;
}
.portfolio__grid .portfolio__col {
  display: inline-block;
  width: 25%;
below(tablet)
}
.portfolio__grid-2 {
  font-size: 0;
}
.portfolio__grid-2 .portfolio__col {
  display: inline-block;
  width: 50%;
below(tablet)
}
.portfolio__grid-3 .portfolio__col {
  z-index: 1;
  position: relative;
  float: left;
}
.portfolio__grid-3 .portfolio__col_1 {
  width: 50%;
below(tablet)
}
.portfolio__grid-3 .portfolio__col_1-half {
  width: 50%;
}
.portfolio__grid-3 .portfolio__col_2 {
  width: 25%;
below(tablet)
}
.portfolio__grid-3 .portfolio__col_3 {
  width: 100%;
}
.portfolio__grid-icon {
  z-index: 20;
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  background: transparent url("images/plus.svg") 0 0 no-repeat;
below(tablet)
}
.portfolio__grid-icon_t-l {
  top: -15px;
  left: -15px;
}
.portfolio__grid-icon_t-r {
  top: -15px;
  right: -15px;
}
.portfolio__grid-icon_t-c {
  top: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.portfolio__grid-icon_b-l {
  bottom: -15px;
  left: -15px;
}
.portfolio__grid-icon_b-r {
  bottom: -15px;
  right: -15px;
}
.portfolio__grid-icon_c-l {
  left: -15px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
@-webkit-keyframes fallPerspective {
  100% {
    -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg);
    opacity: 1;
  }
}
@-moz-keyframes fallPerspective {
  100% {
    -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg);
    transform: translateZ(0px) translateY(0px) rotateX(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes fallPerspective {
  100% {
    -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg);
    transform: translateZ(0px) translateY(0px) rotateX(0deg);
    opacity: 1;
  }
}
@-o-keyframes fallPerspective {
  100% {
    -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg);
    transform: translateZ(0px) translateY(0px) rotateX(0deg);
    opacity: 1;
  }
}
@keyframes fallPerspective {
  100% {
    -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg);
    transform: translateZ(0px) translateY(0px) rotateX(0deg);
    opacity: 1;
  }
}
/*# sourceMappingURL=src/stylus/blocks/portfolio.css.map */