//colors
main = #000000 				//dark color
main-dark = #252525			//dark grey
main-light = #bebdbd		//light grey
light = #ffffff				//pure white text color


//fonts
font-1 = 'bebasneue-bold', Arial, sans-serif
font-2 = 'museosans-500', Arial, sans-serif
font-3 = 'museosans-700', Arial, sans-serif
font-4 = 'museosans-900', Arial, sans-serif
font-5 = 'quicksand-light', Arial, sans-serif
font-6 = 'quicksand-regular', Arial, sans-serif
font-7 = 'agaramond-regular', Arial, sans-serif

//size
large = 1100px
tablet = 768px
small = 480px